In [ ]:
from pandas import Series

In [ ]:
calorie = Series((1,2,3),index=["day1","day2","day3"])
calorie

day1    1
day2    2
day3    3
dtype: int64

In [ ]:
s1 = Series([1,2,3,4])
s2 = Series([5,6,7,8])
s3 = s1.append(s2, ignore_index = True)
s3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
S1 = Series([1,2,3,4])
S2 = Series(["a", "b"])
S3 = S1.append(S2, ignore_index = True)
S3

0    1
1    2
2    3
3    4
4    a
5    b
dtype: object

In [ ]:
Sample = Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],index=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t'])
Sample

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
dtype: int64

In [ ]:
data = Series([1,2,3,4,5,6,7,8,9,10,11,12])
data.pct_change()

0          NaN
1     1.000000
2     0.500000
3     0.333333
4     0.250000
5     0.200000
6     0.166667
7     0.142857
8     0.125000
9     0.111111
10    0.100000
11    0.090909
dtype: float64

In [ ]:
data.reset_index()

    index   0
0       0   1
1       1   2
2       2   3
3       3   4
4       4   5
5       5   6
6       6   7
7       7   8
8       8   9
9       9  10
10     10  11
11     11  12

In [ ]:
Sorting = Series([99,54,36,23,12,10,9,94,4,9,1,4,7,9])
Sorting.sort_values(ascending=False)

0     99
7     94
1     54
2     36
3     23
4     12
5     10
6      9
9      9
13     9
12     7
8      4
11     4
10     1
dtype: int64

In [ ]:
Sorting.astype=float
Sorting

0     99
1     54
2     36
3     23
4     12
5     10
6      9
7     94
8      4
9      9
10     1
11     4
12     7
13     9
dtype: int64

In [ ]:
Sorting

0     99
1     54
2     36
3     23
4     12
5     10
6      9
7     94
8      4
9      9
10     1
11     4
12     7
13     9
dtype: int64